# Copyright 2020 Verizon Inc.
# Licensed under the terms of the Apache License 2.0.
# See LICENSE file in project root for terms.
[run]
parallel = True
branch = False
cover_pylib = False
source = src

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    ^def test_

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

[paths]
source =
    src/screwdrivercd
    .tox/py*/lib/python*/site-packages/screwdrivercd

# precision = 1
show_missing = True
